.container {
  position: relative;
  min-width: 33.333%;
  display: flex;
  flex-grow: 0;
}

.switch {
  position: absolute;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  border-radius: 25px;
  margin: 2vh 2vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.isActive {
  background: repeating-linear-gradient(
    45deg,
    #f6ba52,
    #f6ba52 10px,
    #ffd180 10px,
    #ffd180 20px
  );
}

.isDisabled {
  background-image: repeating-linear-gradient(
    45deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}

.isStateless {
  background-image: none;
  background-color: #363636;
}

.label {
  position: absolute;
  text-align: right;
  bottom: 20px;
  right: 20px;
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.favourite {
  font-size: 30px;
  color: white;
  display: block;
}
