@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap");

:global {
  body {
    font-family: "Ubuntu Condensed", sans-serif;
  }

  a {
    text-decoration: none;
  }
}

.app {
  text-align: center;
  background-color: #282c34;
  height: 90vh;
  padding: 5vh 5vh;

  .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.burgerMenuItem {
  height: 100%;
  width: 100%;
  border: 0;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 30px,
    #465298 30px,
    #465298 60px
  );
  
  // background-image: repeating-linear-gradient(
  //   45deg,
  //   #222,
  //   #222 20px,
  //   #333 20px,
  //   #333 40px
  // );
  
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
