@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap");

:global {
  body {
    font-family: "Ubuntu Condensed", sans-serif;
  }

  a {
    text-decoration: none;
  }
}

.app {
  text-align: center;
  background-color: #282c34;
  height: 90vh;
  padding: 5vh 5vh;

  .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.burgerMenuItem {
    height: 100%;
    width: 100%;
    background-color: grey;
    border: 0;
}
